# .env-template

# === SPRING PROFILES (dev / qa / prod) ===
SPRING_PROFILES_ACTIVE=profile_active

# === Database ===
# DB_URL=jdbc:postgresql://database:5432/blog
DB_USERNAME=usuario_db
DB_PASSWORD=password_db
